<h1>edit Stock</h1>

<%= form_for stock, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
  <%= f.text_field :ticker %>
  <%= f.text_field :name, size: "60x12" %>
  <%= f.submit "update" %>
<% end %>
