<h1>Welcome To Finance Tracker App <%= @name.email %></h1>
<%= button_to 'Sign Out', destroy_user_session_path, method: :delete %>
<%= link_to 'Stock Tracker', my_portfolio_path %>
<%= link_to 'File Upload', folders_path %>
